<p>signup-form works!</p>

<form [formGroup]="form">
  <select (change)="changeLocation($event.target)">
    <option value='' ></option>
    <option value='H-Site'>H-Site</option>
    <option value='T-Site'>T-Site</option>
    <option value='M-Site'>M-Site</option>
  </select>
  <div *ngIf="hostPrefix$|async as hostPrefix else elseTmpl">
    username:<input type="text" formControlName="username"> <br><br>
    hostPrefix: {{hostPrefix}}
  </div>
  <ng-template #elseTmpl>
    <div>
      username:<input type="text" disabled> <br><br>
      hostPrefix:
    </div>
  </ng-template>


</form>

<br>
this.form.get('username').value:{{username.value}} <br>
this.form.get('username').touched:{{username.touched}} <br>
this.form.get('username').errors:{{username.errors | objToStr}} <br>



<br>
<button (click)="change()">Change</button>

<button style='margin-left:10px;' (click)="log()">Log</button>
