<p>rxjs-demo works!</p>

<button (click)="onClick()">Click to load data</button>

<div *ngIf="data$|async as data">
  {{ data[0].title }}
</div>
<!-- {{ JSON.stringify(obj) }} -->

<!-- {{ (data2$|async) }} -->

<div *ngIf="data$|async as data else elseTmpl">
  <ul>
    <li *ngFor="let item of data">
      {{item.title}}
    </li>
  </ul>
</div>
<ng-template #elseTmpl>
  <div>
    loading ...
  </div>
</ng-template>
<br>

<div class="alert alert-primary" role="alert">
  This is separation line
</div>

<li *ngFor="let item of data2$|async">
  {{item.title}}
</li>

<!-- <ul>
  <li *ngFor="let data of  data$|async"  >
    {{ jsonToStr(data) }}
  </li>
</ul> -->
