<!-- <a href="/followers"> Followers </a> -->
<!-- <a href="/test"> Posts </a> -->

<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/followers">Followers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/post">Link</a>
    </li>
  </ul>

  <select class="custom-select" #t (change)="callType(t.value)">
    <option selected>Choose...</option>
    <option value="one">one</option>
    <option value="two">two</option>
  </select>

  <div *ngIf="mySelection=='one'">
    HIHI, select one
  </div>

  <div *ngIf="mySelection=='two'">
    HIHI, select two
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#menu5" (click)="onClick($event)"> Card1 </a>
        </li>
        <li class="nav-item">
          <a id="idCard2" class="nav-link" data-toggle="tab" href="#menu6" (click)="onClick($event)">Card2</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="menu5" class="tab-pane active">
          <select class="custom-select" #t2 (change)="changeDeployType(t2.value)">
            <option selected>Choose...</option>
            <option value="cronjob">cronjob</option>
            <option value="jboss">jboss</option>
          </select>
        </div>
        <div id="menu6" class="tab-pane">
          <app-card1 *ngIf="deployType=='cronjob'"></app-card1>
          <app-card2 *ngIf="deployType=='jboss'"></app-card2>
        </div>
      </div>
    </div>
  </div>

  <a data-toggle="tab" href="#menu1">Menu 1</a>
  <a data-toggle="tab" href="#menu2">Menu 2</a>
  <a data-toggle="tab" href="#menu3">Menu 3</a>
  <div class="tab-content">
    <div id="menu1" class="tab-pane">
      1
    </div>
    <div id="menu2" class="tab-pane">
      2
    </div>
    <div id="menu3" class="tab-pane">
      3
    </div>
  </div>

  <button (click)='testMe()'> Exp1 </button>
  <div class="test">
    AAA
  </div>
  <div class="test">
    BBB
  </div>

  <router-outlet></router-outlet>
</div>
