<!-- <a href="/followers"> Followers </a> -->
<!-- <a href="/test"> Posts </a> -->

<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/followers">Followers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/post">Link</a>
    </li>
  </ul>

  <select class="custom-select" #t (change)="callType(t.value)">
    <option selected>Choose...</option>
    <option value="one">one</option>
    <option value="two">two</option>
  </select>

  <div *ngIf="mySelection=='one'">
    HIHI, select one
  </div>

  <div *ngIf="mySelection=='two'">
    HIHI, select two
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive" href="#" (click)="onClick($event)"> Card1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onClick($event)">Card2</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <app-card1></app-card1>
        <app-card2></app-card2>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
