<!-- <a href="/followers"> Followers </a> -->
<!-- <a href="/test"> Posts </a> -->
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/rxjs-demo">rxjs-demo</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" routerLink="/signup-form">signup-form</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/formstudy">formstudy</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/followers">Followers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/test">misc</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posttest">post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/formtest">form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sharedata">share-data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/demo-property-binding">demo-property-binding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/form-validator">form-validator</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<!-- <app-post></app-post> -->
