<p>form-study works!</p>

<!--options's best pracive-->
<form [formGroup]='form'>
  FAB:
  <input type="text" formControlName="fab">
  <br>
  Phase:
  <select *ngIf="phaseOptions$ | async as options else elseTmpl" formControlName="phase"
    (change)="onChange($event.target)">
    <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
  </select>
  <ng-template #elseTmpl>
    <select disabled> </select>
  </ng-template>
  <br>
  Location:
  <select *ngIf="locationOptions$ | async as options else elseTmpl" formControlName="location">
    <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
  </select>
  <ng-template #elseTmpl>
    <select disabled> </select>
  </ng-template>
</form>
<br><br>
FormValue:
{{form.value | objToStr}}
<br>
FormControl phase:
<button (click)="logIt('phase')">logIt </button>
<button (click)="changePhase()"> changePhase </button>
