<p>form-test works!</p>

<button (click)="onTest()">OnTest</button>

<form [formGroup]="form">
  <div class="form-group form-inline">
    <label class="control-label" for="site">site:</label>
    <input formControlName="site" type="text" class="form-control">
  </div>
  <div *ngIf="site.touched" class="alert alert-danger" role="alert">
    Show error message
  </div>

  <div class="form-group form-inline">
    <label class="control-label" for="zone">zone:</label>
    <input formControlName="zone" type="text" class="form-control">
  </div>

  <div class="form-group form-inline">
    <label class="control-label" for="compartment">compartment:</label>
    <!-- <input formControlName="compartment" type="text" class="form-control"> -->
    <select class="form-control" formControlName="compartment">
      <option>AP1</option>
      <option>AP2</option>
      <option>AP3</option>
      <option>AP4</option>
      <option>AP5</option>
    </select>
  </div>

  <div class="form-group form-inline">
    <button class="btn btn-primary" (click)="onClick()">Add Host</button>
  </div>

  <div formArrayName="hosts" *ngFor="let host of this.form.get('hosts').controls; let i = index;">
    <div [formGroupName]="i">
      <div class="form-group form-inline">
        <input formControlName="location" type="text" class="form-control" placeholder="location">
          <div *ngIf="this.form.get('hosts').controls[i].get('location').touched" class="alert alert-danger" role="alert">
            Show error message
          </div>
        <input formControlName="name" type="text" class="form-control" placeholder="name">
      </div>
    </div>
  </div>

  <button class="btn btn-danger" (click)="onSubmit()">Submit</button>
</form>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail">detail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail2">detail2</a>
  </li>
</ul>
<router-outlet></router-outlet>
