<p>form-test works!</p>

<form [formGroup]="form">
  <div class="form-group form-inline">
    <label class="control-label" for="site">site:</label>
    <input formControlName="site" type="text" class="form-control">
  </div>

  <div class="form-group form-inline">
    <label class="control-label" for="zone">zone:</label>
    <input formControlName="zone"
        type="text" class="form-control">
  </div>

  <div *ngFor="let host of this.form.get('hosts').controls">
    {{host.get('location').value}}
    <br>
    {{host.get('name').value}}
  </div>


  <button class="btn btn-primary" (click)="onClick()">Add Host</button>
</form>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail">detail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail2">detail2</a>
  </li>
</ul>
<router-outlet></router-outlet>
