<p>form-test works!</p>

<form>
  <div class="form-group form-inline">
    <label class="control-label" for="site">site:</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group form-inline">
    <label class="control-label" for="zone">zone:</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group form-inline">
    <label class="control-label" for="location">location:</label>
    <input type="text" class="form-control">
  </div>
</form>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail">detail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/formtest/detail2">detail2</a>
  </li>
</ul>
<router-outlet></router-outlet>
